body {
    background: black;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;

}

.label {
    color: whitesmoke;
    font-size: 2em;
    padding-bottom: 0.5em;
}

.input {
    width: 250px;
    padding: 6px;
}

.button {
    width: 100px;
    padding: 5px;
    margin-top: 1em;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resultado {
    color: whitesmoke;
    font-size: 2.5em;
    display: none;
    margin-top: 60px;


}


.pergunta2 {
    display: none;
    margin-top: 2em
}

.pergunta3 {
    display: none;
    margin-top: 2em;
}