body {
    background: url("img/bk.jpg");
    background-size: auto;
    font-family: 'Quantico', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;

}

.label {
    color: whitesmoke;
    font-size: 2em;
    padding-bottom: 0.5em;
}

.input {
    width: 250px;
    padding: 10px;
    background-color: rgb(12, 11, 11);
    color: whitesmoke;
}

.button, .button-sn button {
    width: 100px;
    padding: 5px;
    margin: 1em;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.button:hover, .button-sn button:hover {
    background-color: black;
    color: whitesmoke;
    transform: scale(1.05);
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.label {
    background-color: black;
    padding: 10px;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

.resultado, .resultado2 {
    color: whitesmoke;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 2.5em;
    display: none;
    margin-top: 60px;
    text-align: center;
}


.pergunta2, .pergunta3 {
    display: none;
    margin-top: 2em;
}



.button-sn {
    display: none;
    margin-top: 20px;

}

@media (max-width: 480px) {

    input {
        font-size: 16px;
    }

}


@media (max-width: 790px) {

    .label {
        font-size: 1.2em;
        text-align: center;
    }

    .resultado, .resultado2 {
        font-size: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }

}